<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <section class="property-binding">
        <article>
          <h3>Interpolation / Interpolação</h3>
          <p>String renderizada com interpolação: {{ url }}</p>
          <p>Cálculo matemático com interpolação: 1 + 1 = {{ 1 + 1 }}</p>
          <p>
            Cálculo matemático com interpolação e função: 1 + 1 não é
            {{ 1 + 1 + getValor() }}
          </p>
          <p>
            Retorno boelano com interpolação + função e operador &&:
            {{ cursoAngular && getCurtirCurso() }}
          </p>
        </article>
        <hr />
        <article>
          <h3>Property Binding</h3>
          <!--<img src="{{ urlImagem }}" width="250">
                    <br/>-->
          <img
            [src]="urlImagem"
            width="250"
            title="Imagem renderizada com Uso explícito do Property Binding"
          /><!--Uso explícito do Property Binding-->
          <!--<br/>
                    <img bind-src="urlImagem" width="250" title="O que ocorre na imagem acima é a mesma coisa que é feita aqui, porém mais simples">
                    -->
          <hr />
          <div>
            <h5>Class Binding</h5>
            Selecione uma classe:
            <select #classe (change)="(0)">
              <!-- #classe(variável local de template), (change) evento a ser escutado para verificar a mudança de valor -->
              <option value="alert-success">Sucesso</option>
              <option value="alert-info">Info</option>
              <option value="alert-warning">Alerta</option>
              <option value="alert-danger">Erro</option>
            </select>

            <br /><br />
            <!-- Explicação da linha abaixo: o class binding [class.alert-success] será aplicado se o valor da variável 'classe' for igual a String(alert-success) -->
            <div
              class="alert"
              role="alert"
              [class.alert-success]="classe.value == 'alert-success'"
            >
              Sucesso
            </div>

            <div
              class="alert"
              role="alert"
              [class.alert-info]="classe.value == 'alert-info'"
            >
              Info
            </div>
            <div
              class="alert"
              role="alert"
              [class.alert-warning]="classe.value == 'alert-warning'"
            >
              Alerta
            </div>
            <div
              class="alert"
              role="alert"
              [class.alert-danger]="classe.value == 'alert-danger'"
            >
              Error
            </div>

            <!-- Usando interpolation para acessar o valor da variável(classe) de template local-->
            <div class="alert {{ classe.value }}" role="alert">
              Alterando a cor da div com Interpolation
            </div>
          </div>

          <h5>Style Binding</h5>
          <div>
            <div
              class="alert alert-danger"
              role="alert"
              [style.display]="
                classe.value == 'alert-danger' ? 'block' : 'none'
              "
            >
              Esta mensagem de erro só aparece se a class 'alert-danger' estiver
              selecionada.
            </div>
          </div>
        </article>
      </section>
    </div>
    <div class="col-sm-6">
      <section class="event-binding">
        <article>
          <h3>Event Binding</h3>
          <div>
            <!-- método 'handler': (click)="botaoClicado()", mesmo que on-click="botaoClicado()" forma canônica -->
            <button (click)="botaoClicado()" class="btn btn-primary">
              <!-- (event)="handler()" -> (click)="botaoClicado()"-->
              Me clique!
            </button>
            <br /><br />
            <input
              type="text"
              (keyup)="onKeyUp($event)"
              (keyup.enter)="onSave(campo.value)"
              (blur)="onSave(campo.value)"
              #campo
            />
            <p>Conteúdo atual: {{ conteudoAtual }}</p>
            <p>Conteúdo Salvo: {{ conteudoSalvo }}</p>

            <br /><br />
            <h3>Usando Event Binding com Property Binding</h3>
            <span
              (mouseover)="onMouseSpan()"
              (mouseout)="onMouseSpan()"
              [class.highlight]="isMouseOver"
              >Passe o Mouse sobre Mim</span
            >
          </div>
        </article>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <section class="event-binding">
        <article>
          <h3>To-way data binding</h3>
          <div>
            <!-- os 3 primeiros input abaixo são apenas uma demonstração, mas não é recomendado para a versão atual do Angular.
                 Criado onKeyUpValue, pois iste código não funciona: (input)="nome = $event.target.value" -->
            <!--<input type="text" [value]="nome" (input)="onKeyUpValue($event.target)"/>
            <input type="text" [ngModel]="nome" (ngModelChange)="nome = $event"/>
            <input type="text" bindon-ngModel="nome"/> Forma canônica: bind + on + ngModel. Junção de Binding de propriedade com binging de eventos-->

            <!-- USE DESTA FORMA: binding de propriedade '[]' + binding de eventos '()' -->
            Com variável:
            <input
              type="text"
              [(ngModel)]="nome"
            /><!-- Dica pra lembrar a sintaxe: [()], banana na caixa-->
            <p>Você digitou {{ nome }}</p>
          </div>
        </article>

        <hr />

        <h6>To-way data binding com objeto</h6>
        <div class="row g-3">
          <div class="col-md-12">
            Meu nome é pessoa {{ pessoa.nome }} e tenho {{ pessoa.idade }} de
            idade.
          </div>

          <div class="col-md-6">
            <label for="inputNome" class="form-label">Nome</label>
            <input type="text" class="form-control" [(ngModel)]="pessoa.nome" />
          </div>

          <div class="col-md-6">
            <label for="inputIdade" class="form-label">Idade</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="pessoa.idade"
            />
          </div>
        </div>
        <br /><br /><br />
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <section class="event-binding">
        <article>
          <h3>.. Reusando Componentes com Input / Output properties ..</h3>

          <app-curso [nome]="nomeDoCurso"></app-curso> <!-- 'nome' é o apelido de uma variável definida em 'input-property.component.ts'-->

        </article>
      </section>
    </div>
  </div>
</div>
<br /><br /><br />
